* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  background-color: #f5f5f5;
}

body,
input,
button {
  font-family: Arial, Helvetica, sans-serif;
}

.button {
  margin-top: 40px;
  border: 0;
  border-radius: 4px;
  height: 48px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;

  &:hover {
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.15);
    transition: all 0.2s;
  }

  &.primary {
    background-color: #02afa9;
  }
}

.header {
  background-color: #02afa9;
  width: 100%;
  height: 100px;
  margin-bottom: 30px;
  img {
    position: absolute;
    margin: auto;
    top: 20px;
    left: 0;
    right: 0;
    cursor: pointer;
  }
  .user {
    display: grid;
    justify-content: flex-end;
    padding: 20px 40px;
    p {
      font-size: 22px;
      color: #fff;
      cursor: pointer;
    }
    a {
      margin-top: 8px;
      cursor: pointer;
    }
  }
}

.cadastro-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    margin: auto;
    top: 20px;
    left: 0;
    right: 0;
    cursor: pointer;
  }

  div {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;

    form {
      width: 100%;
      max-width: 300px;
      display: flex;
      flex-direction: column;

      p {
        font-size: 18px;
        text-align: center;
        color: #999;
        font-weight: bold;
      }

      input {
        margin-top: 20px;
        border: 1px solid #ddd;
        border-radius: 4px;
        height: 48px;
        padding: 0 20px;
        font-size: 16px;
        color: #666;

        &:valid {
          border: 1px solid #02afa9;
        }

        &::placeholder {
          color: #999;
          opacity: 0.6;
        }
      }
    }
  }

  input.ng-invalid.ng-touched {
    border: 1px solid #e74c3c !important;
  }

  .new-user {
    margin-top: 25px;
    font-size: 18px;
    text-align: center;
    color: #999;

    a {
      margin-top: 25px;
      font-size: 18px;
      text-align: center;
      color: #02afa9;

      &:hover {
        color: #02afa9;
        font-style: italic;
        cursor: pointer;
      }
    }
  }
}

// Dashboard

.column {
  flex-direction: column;
}

.container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
}

.item {
  /* O flex: 1; é necessário para que cada item se expanda ocupando o tamanho máximo do container. */
  flex: 1;
  margin: 15px 5px;
  background: #fff;
  text-align: center;
  font-size: 1.5em;
}

.header {
  p {
    font-size: 18px;
    color: #999;
    top: 0;
    bottom: 0;
    margin: auto;
  }
}

.content {
  display: flex;
  padding: 20px;

  img {
    border-radius: 50%;
  }

  .text-area {
    width: 100%;

    textarea {
      width: 100%;
      padding: 5px 20px;
      border: none;
      resize: none;
      font-size: 18px;
      margin-top: 10px;
      height: 120px;
    }
  }
}

.footer {
  justify-content: flex-end;
  display: flex;
  padding: 0 20px 20px 0;
  button {
    height: 50px;
    width: 150px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
    border: 0;
    border-radius: 4px;
    background: #02afa9;
    color: #fff;
    cursor: pointer;
  }
}

.articles {
  padding: 10px 20px;
  text-align: left;
  font-size: 18px;
  color: #999;

  .user {
    margin: 0;
  }

  .date {
    margin: 0;
  }

  .text {
    margin-top: 10px;
  }
}

.article-footer {
  justify-content: flex-start;
  display: flex;
  padding: 0 20px 20px 20px;
  margin-left: 90px;

  i {
    font-size: 26px;
    color: #02afa9;
    cursor: pointer;
    padding: 0 5px;

    &:hover {
      transform: translateY(-5px);
      transition: all 0.2s;
    }
  }
}
